<p></p>
<h2> <%= @user.name %>   </h2>
<p> <%= @user.bio %>    </p>

<div class="row">
  <% @user.plants.each do |plant| %>
     <div class = 'column'> <%= image_tag(plant.img) %> <br> <%= plant.species %> </div>
   <% end %>
</div>







<% if @logged_in_user == @user %>
<%= button_to "Edit Profile", edit_user_path(@user), method: :get, class: 'submit-button' %><br/>
<%= button_to "Delete Account", user_path, method: :delete, class: 'submit-button' %>
<% end %>
