<p></p>
<h2>Request: <%= @request.title %></h2>
<h4>I'll pay you $<%= @request.price %></h4>
<p> <%= @request.details %> </p>
<span>Plants you need to take care of:</span> <br>
<div class="row">
  <br><% @request.owner.plants.each do |plant| %>
     <div class = 'column'><%= image_tag(plant.img) %> <br> <%= plant.species %></div>
   <% end %>
</div>

<h4>Contact Info </h4>
Username: <%= link_to @request.owner.name, user_path(@request.owner) %><br>
Phone Number: <%= @request.owner.phone %> <br>
Email: <%= @request.owner.email %><br>
Zip Code: <%= @request.owner.zip %><br><br>
  <% if @request.owner == @logged_in_user %>
    <br><%= button_to "Edit Request", edit_request_path(@request), method: :get, class: 'submit-button' %><br/>
    <%= button_to "Delete Request", request_path, method: :delete, class: 'submit-button' %>
  <% elsif @request.sitter == nil %>
    <%= form_for @request do |f| %>
      <%= f.hidden_field :sitter_id, :value=> session[:user_id] %>
      <%= f.submit "Claim", class: 'submit-button'%>
    <% end %>
  <% elsif @request.sitter == @logged_in_user %> <br>
    <p>You have claimed this request!</p>
  <% end %>
