<!DOCTYPE html>
<html>
  <head>
    <title>PlantSitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if session[:user_id] %>
        <%= link_to "Requests", requests_path %> <%= link_to "Sitters", users_path %> <%= link_to "Profile", user_path(@logged_in_user) %> <%= link_to "Log Out", session_path("current"), method: :delete %> 
      <% else %>
        <%= link_to "Login", new_session_path %> <%= link_to "Sign Up", new_user_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
