<!DOCTYPE html>
<html>
  <head>
    <title>PlantSitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <span id="logo"><%= link_to image_tag("/assets/logo.png"), requests_path %></span>
      <span id="logotext"><%= link_to image_tag("/assets/logotext.png"), requests_path %></span>
      <% if session[:user_id] %>
        <%= link_to "Requests", requests_path %>  <%= link_to "Profile", user_path(@logged_in_user) %> <%= link_to "Logout          ", session_path("current"), method: :delete %>
      <% else %>
        <%= link_to "Login", new_session_path %> <%= link_to "SignUp", new_user_path %>
      <% end %>
    </nav>
    <div id="main"
    <%= yield %>
    </div>
  </body>
</html>
